input,textarea {
	border: 1px solid #999999;
	box-shadow: inset 1px 1px 2px #e8e8e8;
	height: 35px;
	border-radius: 2px;
	padding: 0px 5px;
	width: 250px;
}

select {
	border: 1px solid #999999;
	box-shadow: inset 1px 1px 2px #e8e8e8;
	height: 35px;
	border-radius: 2px;
	padding: 0px 0px;
	width: 250px;
}

textarea {
	height: 65px;
	resize: none;
	padding: 5px;
}

input.checkbox,input.radio,input.btn-color,input.btn-gray,input[type=checkbox],input[type=radio],input[type=button]
	{
	margin-right: 5px;
	width: auto;
	height: auto;
}

select {
	width: 262px;
	background: transparent;
}

/* no-script */

.noscript-cont {
    float: right;
    margin: 12px auto;
    overflow: hidden;
    text-align: center;
    width: 420px;
}

.noscript-cont p {
	color: red;
	font-size: 14px;
	clear: both;
}


/* margins */

.margin-5px {
	margin: 5px !important;
}

/* icons */

.icon {
	line-height: 18px;
	padding: 0px 0 2px 16px;
	margin: 0 4px 0 0;
}

.icon:HOVER {
	text-decoration: none !important;
}

/*typical form begins */

.general-form {
	padding: 10px 15px;
	background-color: #fff;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.general-form ul {
	
}

.general-form ul li {
	margin: 8px 5px;
	overflow: hidden;
}

.general-form label {
	display: block;
	color: #888888;
	font-size: 14px;
	line-height: 18px;
	padding: 1px 0;
	margin: 0px 0;
}

.general-form .inputbox {
	margin: 5px 5px 0px 0px;
	width: 240px;
}

.general-form input.form-element {
	margin-right: 5px;
}

.general-form .form-element-label {
	color: #000;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.btn-cont {
	padding: 10px 15px 0;
}

/*typical form ends */

.user-details-cont {
	float: right;
	font-size: 15px;
	margin: 23px 15px 0 0;
}

.select-all-toggle {
	float: left;
	margin: 4px 0 0 12px;
	font-weight: normal;
	font-size: 13px;
	color: blue;
}

.function-privilege-list {
	margin-top: 5px;
	line-height: 14px;
}

.function-privilege-list li {
	overflow: hidden;
	margin: 3px 6px !important;
}

.function-privilege-list label {
	display: block;
	margin: 2px;
}

.function-privilege-list p {
	margin: 4px 2px 2px 12px;
}

#role-privilege-list {
	padding: 0 0 5px 0;
	overflow: hidden;
}

#role-privilege-list li.function-li {
	border-top: 1px dashed #CCCCCC;
	padding: 10px 0 5px;
}

#role-privilege-list .function-privileges {
	margin: 0 0 0 30px;
	overflow: hidden;
}

#user-details-cont {
	margin: 0px 8px;
}

#user-details-cont label {
	margin: 0 2px 2px 0;
	font-size: 13px;
	line-height: 16px;
}

/* Errors */

.error-msg-cont {
	margin: 5px 15px 15px;
	font-size: 14px;
}

.error-msg-cont .alert {
	color: yellow;
}

.error-msg-cont .error {
	color: red;
}

.error-msg-cont .status {
	color: blue;
}

.error-msg-cont .success {
	color: green;
}

input.error {
	border: 1px solid red;
	box-shadow: inset 0px 0px 1px red;
}

.viewroles-icon {
	background: url("images/view-roles.png") no-repeat;
}

.assignroles-icon {
	background: url("images/asign-roles.png") no-repeat;
}

.main-table thead td div {
	color: #627a92;
	font-weight: bold;
	position: relative
}

.main-table thead tr td {
	box-shadow: inset 0 8px 8px -8px #91afbd, inset 0 -8px 8px -8px #91afbd;
	border-right: 1px solid #91afbd;
	background-color: #a4d6ed;
}

.main-table thead tr th {
	box-shadow: inset 0 8px 8px -8px #91afbd, inset 0 -8px 8px -8px #91afbd;
	border-right: 1px solid #91afbd;
	font-weight: bold;
	position: relative;
	padding-top: 5px
}

.main-table thead tr th a {
	font-weight: bold;
	position: relative;
}

/*pagination-begins*/

.pagination {
    height: 36px;
    width:327px;
    margin: 0 auto;
}

.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
     padding: 5px 10px;
     background-color: #efefef;
     border: 1px solid #e0e0e0;
}

.pagination li {
    display: inline;
}

.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}

.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}


.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}




.pagination a {
    background-color: #FFFFFF;
    border: 1px solid #C9C9C9;
    border-radius: 2px 2px 2px 2px;
    color: #717171;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    margin-right: 1px;
    padding: 0 9px;
    display: inline-block;
}


.pagination a:hover, .pagination .active a {
    background-color: #676767;
    box-shadow: 0 0 2px 0 #505050 inset;
    color: #FFFFFF;
}

/*pagination ends*/

.dataTables_length {
	float: right;
	padding-right: 5px;
}

.dataTables_length select {
	background: none repeat scroll 0 0 transparent;
    width: 62px;
    height: 23px;
}

